
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* sourced from https://dev.to/diballesteros/how-to-make-a-simple-slider-component-in-react-3nk8 */
input[type='range']{
  appearance: none;
  -webkit-appearance: none; 
  width: 30%;
  height: 10px; 
  background: grey; 
  border-radius: 30px; 
  background-image: linear-gradient(#a2bffe, #a2bffe); 
  background-repeat: no-repeat; 
 }

 input[type='range']::-webkit-slider-thumb { 
  -webkit-appearance: none; 
  height: 15px; 
  width: 15px; 
  border-radius: 50%; 
  background: #a2bffe;
  cursor: pointer; 
  box-shadow: 0 0 2px 0 #555; 
  }

  input[type="range"]::-webkit-slider-runnable-track { 
    -webkit-appearance: none; 
    box-shadow: none; 
    border: none; 
    background: transparent; 
  }

